*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.container {
   width: 80%;
   margin: auto;
   

}
.navbar {
    background-color: black;
    padding: 15px;
    width: 100%;
    position: sticky;
    top: 0;
   
}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.navbar .logo img {

    width: 50%; 
}

.navbar ul {
    display: flex;
    list-style-type: none;
}
 .navbar ul li {
    padding: 20px;
 }

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.Portfolio {
    background-color: rgb(207, 205, 193);
}

.Portfolio .container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.row {
    display: flex;
    gap: 10px;
}
.Portfolio img {
    width: 100%;
    display: block;
}